version: '3.4'

services:

  nominatim-rest_api:
      build: .
      tty: true
      networks:
         - inbound
      restart: unless-stopped
      ports:
        - "7070:8080"
        - "6432:5432"
      entrypoint: /docker-entrypoint.sh
      volumes:
        - ./data/nominatim-data:/data:z
      environment:
        with_postcodes_us: "True"
        with_postcodes_gb: "True"
      logging:
        options:
          tag: 'ImageName:{{.ImageName}}/Name:{{.Name}}/ID:{{.ID}}/ImageFullID:{{.ImageFullID}}'




networks:
  inbound:

