version: '3.4'

services:

  nominatim-rest_api:
      build: .
      tty: true
      networks:
         - inbound
      restart: unless-stopped
      ports:
        - "7070:8080"
        - "6432:5432"
      volumes:
        - ./data/nominatim-data:/data
      logging:
        options:
          tag: 'ImageName:{{.ImageName}}/Name:{{.Name}}/ID:{{.ID}}/ImageFullID:{{.ImageFullID}}'
  caddy:
      image: caddy:2
      volumes:
        - ./data/caddy/Caddyfile:/etc/caddy/Caddyfile
      ports:
        - 80:80
        - 443:443
      networks:
          - inbound



networks:
  inbound:

